		<footer>
			<h2>Course Manager</h2>	
			<p>
				Course Manager is a web app that allows you to create, read, update, and delete courses. Each page is designed beautifully with EJS templates.
			</p>
			<div class="footer-bottom">
				<h5 class="copyright">&copy; 2025 Carson Fujita</h5>
				<%- include("../components/nav") %>
			</div>
		</footer>
	</div>
</body>
</html>
