<form class="editor" action="/update/<%= course.code %>" method="post">
	<div class="editor-form">
		<input type="text" class="editor-input" name="title" placeholder="Enter course title here..."
			value="<%= course.title %>" required />
			<div class="editor-bottom">
				<input class="editor-input" type="text" name="code" value="<%= course.code %>" placeholder="Enter course code here" required />
				<input class="editor-input" type="number" name="credits" value="<%= course.credits %>" step="0.5" min="0" max="4" required/>
			</div>
	</div>
	<button class="button blue" type="submit">
		<span class="save-icon material-symbols-outlined">save<span>
	</button>
</div>
