<%- include("partials/header",{title: "Home Page"}) %>
<main>
<%- include("components/listing.ejs",{title: "Testing site", credits: 5,code: "TESTCODE"}) %>
<%- include("components/editor.ejs", {course: {code: "TEST", title: "TEST TITLE", credits: 3}}) %>
</main>
<%- include("partials/footer") %>
