<%- include("partials/header",{name: "Home Page"}) %>
<main>
<div>
<h1 class="dark-text">Welcome</h1>
<%- include("components/editor.ejs", {
	course: {
		_id: 0,
		code: "Enter new code", 
		title: "Enter course title", 
		credits: 0
	}}) %>
</div>
</main>
<%- include("partials/footer") %>
