/**
* CSS for listing components
*/

.listing {
	/* -- Layout --*/
	display: inline-flex;
	padding-bottom: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	/* -- Style --*/
	border-radius: 9px;
	background: var(--primary-dark, #F2E9E4);
}

.listing-header {
	/* -- Layout --*/
	display: flex;
	padding: 5px 10px;
	align-items: center;
	gap: 10px;
	/* -- Style --*/
	background: var(--secondary-light, #4A4E69);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
}

.button-bar {
	/* -- Layout --*/
	display: flex;
	width: 150px;
	justify-content: space-between;
	align-items: center;
}

.listing-row {
	/* -- Layout --*/
	display: flex;
	padding: 0 15px;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}


/** --- Course Editor --- ***/

.editor {
	/* -- Layout --*/
	display: flex;
	width: 1159px;
	height: 184px;
	padding: 15px 20px;
	align-items: flex-end;
	gap: 10px;
}

.editor-form {
	/* -- Layout --*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	flex: 1 0 0;
}

.editor-input {
	/* -- Layout --*/
	box-sizing: border-box;
	display: flex;
	height: 54px;
	padding: 15px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	border-radius: 9px;
	/* -- Style --*/
	background: #FFF;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.editor-message {
	/* -- Layout --*/
	display: flex;
	align-items: center;
	gap: 10px;
}

.editor-bottom {
	display: flex;
	height: 54px;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}
